<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Nim
  </h1>

  <section>
    <!-- <button class="control button" (click)="createNewGame()">Start Game</button> -->
    <!-- <button class="control button" (click)="makeMove()">Remove selected</button> -->
  </section>

  <!-- <section>
    {{ currentGame | json }}
  </section> -->

  <section *ngIf="!currentGame && !currentGame?.over">
    <h2>Push to play!</h2>
    <p></p>
    <button class="control button" (click)="createNewGame()">New Game</button><!-- Start Game-->
  </section>

  <section *ngIf="currentGame && !currentGame?.over">

    <div *ngIf="'You' === currentGame?.nextPlayer?.playerName">
      <h2>Your turn!</h2>
      <p>Select up to 3 matchsticks.</p>
    </div>

    <div *ngIf="'Computer' === currentGame?.nextPlayer?.playerName">
      <h2>Computer is thinking...</h2>
      <p>&nbsp;</p>
    </div>

    <div class="row">
      <button class="matchstick"
        *ngFor="let element of currentGame?.sticks; let i = index"
        [disabled]="element === false"
        (click)=selectElement(i)>
      </button>
    </div>

    <button class="control button" (click)="makeMove()">Remove selected</button>
  </section>

  <section *ngIf="currentGame?.over">
    <h2>Game over!</h2>
    <p *ngIf="'You' === currentGame?.nextPlayer?.playerName">You win!</p>
    <p *ngIf="'Computer' === currentGame?.nextPlayer?.playerName">Seams like a space brain won this time!</p>
    <button class="control button" (click)="createNewGame()">New Game</button>
  </section>
</div>
