@import url("https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P");

/* Basics */
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: repeating-linear-gradient(
    #e66465,
    #e66465 2px,
    #9198e5 2px,
    #9198e5 4px
  );
  text-align: center;
  --pink: #e61e8c;
  --blue: #4deeea;
  --purple: #2a298b;
  --yellow: #ffed5e;
  --green: #74ee16;

  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

h1 {
  font-family: "Monoton", monospace;
  font-weight: normal;
  font-size: 60px;
  color: #e61e8c;
  margin: 0;
  text-shadow: -4px 4px 0 #4deeea;
}

h2 {
  font-family: "Press Start 2P", cursive;
  font-weight: normal;
  font-size: 16px;
}

p {
  font-family: "Press Start 2P", cursive;
  font-weight: normal;
  font-size: 12px;
}

section {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1;
  letter-spacing: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  margin: 20px;
}

.control {
  cursor: pointer;
  padding: 10px 12px;
  margin: 4px;
}

button {
  font-family: "Press Start 2P", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  border: solid #2a298b 2px;
  color: #2a298b;
  border-radius: 5px;
  background: white;
  box-shadow: -4px 4px 0 #2a298b;
  text-align: left;
}

button:focus {
  outline: none;
}

[disabled] {
  opacity: 0;
  pointer-events: none;
}

button.matchstick {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  margin: 14px;
  font-family: monospace;
  background: #ddd69e;
  height: 72px;
  width: 12px;
  border: none;
  /* border-radius: 5px; */
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 0;
  position: relative;
}

button.matchstick:before {
  background: #bf616a;
  content: "";
  height: 10px;
  width: 12px;
  top: 0;
  left: 0;
  position: absolute;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

button.matchstick:hover {
  opacity: 0.5;
}

button.matchstick:active {
  /* background: #e61e8c; */
  background: #ffffff;
}
